$blue: #0471b1;
$orange: #f48330;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 1rem 'Poppins', sans-serif;
  color: $blue;

  .numberGenerator {
    padding: 2rem 0;

    &,
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo {
      gap: 0.5rem;

      img {
        height: 2.5rem;
        width: auto;
      }

      h1 {
        font-size: 1.75rem;
      }
    }
  }
}
